// Custom theme colors
$primary: #7749F8;
$secondary: #6C757D;
$success: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info: #17A2B8;

// Custom colors
$primary-dark: #5227CC;
$primary-light: #EBE5FC;
$secondary-dark: #54595E;
$secondary-light: #ABB5BE;

// Custom colors with shades
$gray: #adb5bd;

$colors: (
    "gray": $gray,
);

// Inter font-family
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$font-family-base: "Inter", sans-serif;


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/alert";

$navbar-dark-color: rgba($white, .7);
$body-color: $gray-600;
$body-bg: $gray-100;

$text-muted: $gray;

.text-muted {
    color: $gray !important;
}

$headings-color: $gray-800;

// Font weights
$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600; // Semi-Bold Headings en figma
$font-weight-bold: 700; // Bold Headings
$font-weight-bolder: 800; // Extra-Bold Headings

$headings-font-weight: 600;
$display-font-weight: 700;

// Font size
$display-font-sizes: (
    1: 72px,
    2: 64px,
    3: 58px,
    4: 52px
);

$font-size-base: 15px;

$font-weight-base: $font-weight-normal;
$headings-line-height: 1.2;
$display-line-height: $headings-line-height;
$line-height-base: $headings-line-height;

$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 16px;

// Border radius
$btn-border-radius: 6px;
$btn-border-radius-sm: 6px;
$btn-border-radius-lg: 6px;
$alert-border-radius: 6px;

// Custom buttons
$btn-font-weight: $font-weight-semibold;
$btn-font-family: $input-btn-font-family;
$btn-white-space: no-wrap;
$input-btn-line-height: 17px;
$btn-line-height: $input-btn-line-height;

$input-btn-padding-y: 10px;
$input-btn-padding-x: 16px;
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-line-height: $input-btn-line-height;
$input-btn-font-size: $h6-font-size;
$btn-font-size: $input-btn-font-size;


$input-btn-padding-y-sm: 8px;
$input-btn-padding-x-sm: 12px;
$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$input-btn-font-size: $font-size-base;
$btn-font-size-sm: $input-btn-font-size-sm;

$input-btn-padding-y-lg: 16px;
$input-btn-padding-x-lg: 24px;
$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$input-btn-font-size-lg: $h6-font-size;
$btn-font-size-lg: $input-btn-font-size-lg;

// Otros
.form-select,
input {
    color: $headings-color;
    background-color: $white;
}

.btn.rounded-circle {
    width: 40px;
    height: 40px;
    padding: 0;
}

small {
    font-size: 12px;
    line-height: 14.52px;
}


.table {
    td {
        color: $headings-color;
        background-color: $white;
    }
}

@import "./buttons.scss";
@import "./navbar.scss";
@import "./custom.scss";